* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  /* font-style: italic; */
}
:root {
  --safo-orange: #f15f23;
  --safo-orange-low-opacity: #f15d2330;
}
html {
  /* overflow-x: hidden; */
  width: 100vw;
}
body {
  width: 100%;
  background-color: whitesmoke;
  /* max-width: 100vw; */
}
.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}
header {
  backdrop-filter: blur(6px);
  background-color: rgba(255, 255, 255, 0.833);
  z-index: 99;
}
header ul {
  text-transform: uppercase;
  font-weight: 600;
}
.hambar {
  width: 20px;
  background-color: black;
  height: 2px;
  border-radius: 10px;
  transition: 400ms;
  /* margin-top: 5px; */
}
.hamburger-btn.clicked .hambar2 {
  transform: translateX(-30px);
  opacity: 0;
}
.hamburger-btn.clicked .hambar1 {
  transform-origin: left;
  transform: rotate(45deg);
  margin-top: -4px;
}
.hamburger-btn.clicked .hambar3 {
  transform-origin: left;
  transform: rotate(-45deg);
  margin-top: 2px;
}
.hamburger-btn {
  z-index: 99;
}
.swiper {
  width: 100vw;
  max-height: 400px;
  min-height: 250px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100% !important;
  object-fit: cover !important;
}

.swiper-slide img {
  display: block;
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
}
.swiper-pagination-bullet {
  background-color: #ffffff !important;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #fff !important;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
}
.swiper-button-prev,
.swiper-button-next {
  font-style: normal;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  color: #fff !important;
}
#register_form {
  width: 900px;
  margin: 0 2rem !important;
}
.dark-btn {
  width: 60px;
  height: 30px;
  border: 1px solid;
  /* position: relative; */
}
.dark-btn::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: black;
  margin: 4px;
}
.mobile-nav-container {
  height: 100vh;
  display: none;
  z-index: 98;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}
.mobile-nav {
  width: 80%;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
}
.mobile-nav-link {
  font-weight: 600;
}
.logo-container {
  height: 60px;
}
.logo {
  width: 60px;
  white-space: nowrap;
  /* height: 40px; */
}
.hero-container {
  margin-top: 60px;
}
.desktop-nav-link,
.mobile-nav-link {
  color: black;
  position: relative;
  font-family: "Montserrat", sans-serif;
  /* font-style: italic; */
  font-weight: 600;
}
.desktop-nav-link::after,
.mobile-nav-link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1.5px;
  background-color: var(--safo-orange);
  bottom: 0;
  left: 0;
  border-radius: 20px;
  transform: scaleX(0);
  transition: 500ms;
}
.desktop-nav-link:hover::after,
.mobile-nav-link:hover::after {
  transform: scaleX(0.8);
}
.desktop-nav-link:hover,
.mobile-nav-link:hover {
  color: var(--safo-orange);
}
.desktop-nav-link:focus {
  color: black;
}
.logo-text {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-weight: 800;
  font-size: 0.75em;
}
.choose_scholarship_container {
  display: none;
}
#specify_scholarship_container {
  display: none;
}
.specify_disability_container {
  display: none;
}
.room-button {
  width: 50px;
}
.room-button:focus {
  background-color: var(--bs-primary);
  color: white;
}
input[type="number"]::-webkit-inner-spin-button {
  appearance: none;
}
table {
  width: 100% !important;
}
table,
td a {
  font-size: 0.8em !important;
}
#room_num_display {
  width: 3em;
}
#login_form {
  width: 500px;
}
.horizontal_seperator {
  background-color: var(--safo-orange);
  height: 5px;
}
.hero_text_container {
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-weight: 500;
  bottom: 20px;
}
.hero_text_container a {
  color: var(--safo-orange) !important;
  font-weight: 800;
}
.hero_text_container a:hover {
  color: white !important;
  background-color: var(--safo-orange);
  border: 2px solid white;
}
.about-section h4 {
  color: var(--safo-orange);
  font-weight: 800;
}
.myCard > img {
  height: 250px;
  object-fit: cover;
  object-position: top;
}
.myFooter {
  height: 250px;
  background-color: var(--safo-orange);
  color: white;
}
.downloadConstitution {
  background-color: var(--safo-orange);
  color: white;
  width: max-content;
  font-weight: 600;
}
.downloadConstitution:hover {
  background-color: white;
  border: 2px solid var(--safo-orange);
  color: var(--safo-orange);
}
.footer_text {
  font-weight: 800;
  font-size: 1.5em;
}
.executives_header {
  font-weight: 800;
}
.modal_close_btn {
  top: 20px;
  right: 20px;
}
.invalid-feedback {
  font-size: 0.8em;
}
div.dt-button-background {
  min-height: 100vh !important;
}
div.dt-button-collection {
  left: 0 !important;
  transform: translateX(0);
  width: 400px;
  margin-left: 0 !important;
  overflow-y: auto;
}

div.dt-button-collection button.dt-button {
  display: inline-block;
  width: 32%;
}
div.dt-button-collection button.buttons-colvis {
  display: inline-block;
  width: 100%;
}
div.dt-button-collection h3 {
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: 100;
  border-bottom: 1px solid rgba(150, 150, 150, 0.656);
  font-size: 1em;
  padding: 0 1em;
}
div.dt-button-collection h3.not-top-heading {
  margin-top: 10px;
}
#step-pagination {
  position: relative;
  z-index: 2;
}
.pagination_line {
  background-color: var(--safo-orange-low-opacity);
  height: 3px;
  width: 200px;
  z-index: -1;
  position: relative;
}
.pagination_line::before {
  content: "";
  position: absolute;
  background-color: blue;
  height: 100%;
  width: 0%;
}
.pagination_circle {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: var(--safo-orange-low-opacity);
  position: absolute;
}
.pagination_circle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  border-radius: 50%;
  z-index: -1;
  margin: -10px;
}
#circle-1 {
  background-color: var(--safo-orange);
  left: 0;
}
#circle-2 {
  left: 50%;
}
#circle-3 {
  right: 0;
}
.img_section > img {
  object-fit: cover;
}
#step-1 {
  display: none;
}
#step-2 {
  display: none;
}
#step-3 {
  display: none;
}
.dropdown-toggle {
  outline: 0;
}

.btn-toggle {
  padding: 0.25rem 0.5rem;
  font-weight: 600;
  color: var(--bs-emphasis-color);
  background-color: transparent;
  position: relative;
}
.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(var(--bs-emphasis-color-rgb), 0.85);
  background-color: var(--bs-tertiary-bg);
}

.btn-toggle::before {
  position: absolute;
  right: 0;
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform 0.35s ease;
  transform-origin: 0.5em 50%;
}

[data-bs-theme="dark"] .btn-toggle::before {
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%28255,255,255,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(var(--bs-emphasis-color-rgb), 0.85);
}
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  padding: 0.1875rem 0.5rem;
  margin-top: 0.125rem;
  margin-left: 1.25rem;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: var(--bs-tertiary-bg);
}

.scrollarea {
  overflow-y: auto;
}
.sidebar-link{
    padding: 0.25rem 0.5rem;
    font-weight: 600;
    color: var(--bs-emphasis-color);
    background-color: transparent;
}
.sidebar-link:hover{
  color: white !important;
  background-color: blue !important;
}
.sidebar-item:hover{
  color: white !important;
  background-color: blue !important;
}

@media (max-width: 991px) {
  .desktop-nav-link.register_nav_link::after {
    transform-origin: left;
  }
}

@media (max-width: 850px) {
  .hero_text_container {
    position: static !important;
    background-color: var(--safo-orange);
  }
}

@media (max-width: 500px) {
  .swiper-button-next,
  .swiper-button-prev {
    transform: scale(0.5);
  }
  .swiper-button-prev::after,
  .swiper-button-next::after {
    color: #ffffffde !important;
  }
  span.logo-text {
    font-size: 0.625em;
  }
  button.navbar-toggler {
    transform: scale(0.8);
  }
  .hero_text_container {
    font-size: 0.8em;
  }
  .hero_text_container a {
    font-size: 1em;
  }
  .swiper {
    background-color: lightgray;
  }
  div.dt-button-collection {
    width: 80%;
    left: 50% !important;
    transform: translateX(-50%);
  }
}
