* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  /* font-style: italic; */
}
:root {
  --safo-orange: #f15f23;
  --safo-orange-low-opacity: #f15d2330;
}
html {
  /* overflow-x: hidden; */
  max-width: 100vw;
}
body {
  max-width: 100vw;
  background-color: #f9f6f1;;
}
.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}
header {
  backdrop-filter: blur(6px);
  background-color: rgba(255, 255, 255, 0.833);
  z-index: 99;
  width: 100vw;
}
header ul {
  text-transform: uppercase;
  font-weight: 600;
}
.hambar {
  width: 20px;
  background-color: black;
  height: 2px;
  border-radius: 10px;
  transition: 400ms;
  /* margin-top: 5px; */
}
.hamburger-btn.clicked .hambar2 {
  transform: translateX(-30px);
  opacity: 0;
}
.hamburger-btn.clicked .hambar1 {
  transform-origin: left;
  transform: rotate(45deg);
  margin-top: -4px;
}
.hamburger-btn.clicked .hambar3 {
  transform-origin: left;
  transform: rotate(-45deg);
  margin-top: 2px;
}
.hamburger-btn {
  z-index: 99;
}
.swiper {
  width: 100vw;
  height: 400px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto !important;
  object-fit: cover !important;
}

.swiper-slide img {
  display: block;
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
}
.swiper-pagination-bullet {
  background-color: #ffffff !important;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #fff !important;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
}
.swiper-button-prev,
.swiper-button-next {
  font-style: normal;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  color: #fff !important;
}
#register_form {
  width: 900px;
  margin: 0 2rem !important;
}
.dark-btn {
  width: 60px;
  height: 30px;
  border: 1px solid;
  /* position: relative; */
}
.dark-btn::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: black;
  margin: 4px;
}
.registerBody{
  padding-top: 20px;
}
.mobile-nav-container {
  height: 100vh;
  display: none;
  z-index: 98;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}
.mobile-nav {
  width: 80%;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
}
.mobile-nav-link {
  font-weight: 600;
}
.logo-container {
  height: 60px;
}
.logo {
  width: 60px;
  white-space: nowrap;
  /* height: 40px; */
}
.hero-container {
  margin-top: 60px;
}
.desktop-nav-link,
.mobile-nav-link {
  color: black;
  position: relative;
  font-family: "Montserrat", sans-serif;
  /* font-style: italic; */
  font-weight: 600;
}
.desktop-nav-link::after,
.mobile-nav-link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1.5px;
  background-color: var(--safo-orange);
  bottom: 0;
  left: 0;
  border-radius: 20px;
  transform: scaleX(0);
  transition: 500ms;
}
.desktop-nav-link:hover::after,
.mobile-nav-link:hover::after {
  transform: scaleX(0.8);
}
.desktop-nav-link:hover,
.mobile-nav-link:hover {
  color: var(--safo-orange);
}
.desktop-nav-link:focus {
  color: black;
}
.nav-link{
  font-family: "Montserrat", sans-serif;
}
.logo-text {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-weight: 800;
  font-size: 0.75em;
}
.choose_scholarship_container {
  display: none;
}
#specify_scholarship_container {
  display: none;
}
.specify_disability_container {
  display: none;
}
.form-check-input:checked{
  background-color: #6d7f52;
  border-color: #6d7f52;
}
.chooseRoomBtn{
  background-color: #6d7f52;
  color: white;
}
.chooseRoomBtn:hover{
  background-color: white;
  color: #6d7f52;
  border: 2px solid #6d7f52;
}
.chooseRoomBtn:focus{
  background-color: #6d7f52;
  color: white;
  box-shadow: none;
}
.room-button {
  width: 50px;
  border-color: #6d7f52;
  color: #6d7f52;
}
.room-button:focus {
  border-color: #6d7f52;
  background-color: #6d7f52;
  color: white;
}
.room-button:hover {
  border-color: #6d7f52;
  background-color: #6d7f52;
  color: white;
}
#not_challenged, #challenged, #not_under_scholarship, #under_scholarship{
  border-color: #6d7f52;
}
input[type="number"]::-webkit-inner-spin-button {
  appearance: none;
}
table {
  width: 100% !important;
}
table,
td a {
  font-size: 0.8em !important;
}
#room_num_display {
  width: 3em;
}
#login_form {
  width: 500px;
}
.horizontal_seperator {
  background-color: var(--safo-orange);
  height: 5px;
}
.hero_text_container {
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-weight: 500;
  bottom: 20px;
}
.hero_text_container a {
  color: var(--safo-orange) !important;
  font-weight: 800;
}
.hero_text_container a:hover {
  color: white !important;
  background-color: var(--safo-orange);
  border: 2px solid white;
}
.about-section h4 {
  color: var(--safo-orange);
  font-weight: 800;
}
.myCard > img {
  height: 250px;
  object-fit: cover;
  object-position: top;
}

.myCard{
  text-align: center;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  height: 100%;
  transition: all 0.5s ease-in-out ;
  
}



.card-title{
  font-weight: bolder;
}

.myCard:hover{
cursor: pointer;
scale: 1.1;
z-index: 1;
}

.myFooter {
  height: 250px;
  background-color: var(--safo-orange);
  color: white;
}
.downloadConstitution {
  background-color: var(--safo-orange);
  color: white;
  width: max-content;
  font-weight: 600;
}
.downloadConstitution:hover {
  background-color: white;
  border: 2px solid var(--safo-orange);
  color: var(--safo-orange);
}
.footer_text {
  font-weight: 800;
  font-size: 1.5em;
}
.executives_header {
  font-weight: 800;
  margin-bottom: 25px;
}
.modal_close_btn {
  top: 20px;
  right: 20px;
}
.modal-title{
    letter-spacing: 0px;
    padding: 5px 15px;
    display: inline-block;
    border: 1px solid #dad8e4;
}
.modal-title + small{
  color: black;
}
.modal-submit-btn{
  background-color: #6d7f52;
  color: white;
  border-color: #6d7f52;
}
.modal-submit-btn:hover{
  background-color: white;
  color: #6d7f52;
  border-color: #6d7f52;
}
.invalid-feedback {
  font-size: 0.8em;
}
.checkbox-circle{
  display: none;
}
div.dt-button-background {
  min-height: 100vh !important;
}
div.dt-button-collection {
  left: 0 !important;
  transform: translateX(0);
  width: 400px;
  margin-left: 0 !important;
  overflow-y: auto;
}

div.dt-button-collection button.dt-button {
  display: inline-block;
  width: 32%;
}
div.dt-button-collection button.buttons-colvis {
  display: inline-block;
  width: 100%;
}
div.dt-button-collection h3 {
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: 100;
  border-bottom: 1px solid rgba(150, 150, 150, 0.656);
  font-size: 1em;
  padding: 0 1em;
}
div.dt-button-collection h3.not-top-heading {
  margin-top: 10px;
}
#step-pagination {
  position: relative;
  z-index: 2;
}
.pagination_line {
  background-color: var(--safo-orange-low-opacity);
  height: 3px;
  width: 200px;
  z-index: -1;
  position: relative;
}
.pagination_line::before {
  content: "";
  position: absolute;
  background-color: blue;
  height: 100%;
  width: 0%;
}
.pagination_circle {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: var(--safo-orange-low-opacity);
  position: absolute;
}

#fc{
  object-fit: contain;
}


.pagination_circle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  border-radius: 50%;
  z-index: -1;
  margin: -10px;
}
#circle-1 {
  background-color: var(--safo-orange);
  left: 0;
}
#circle-2 {
  left: 50%;
}
#circle-3 {
  right: 0;
}
.img_section > img {
  object-fit: cover;
}
#step-1 {
  display: none;
}
#step-2 {
  display: none;
}
#step-3 {
  display: none;
}
.dropdown-toggle {
  outline: 0;
}

.btn-toggle {
  padding: 0.25rem 0.5rem;
  font-weight: 600;
  color: var(--bs-emphasis-color);
  background-color: transparent;
  position: relative;
}
.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(var(--bs-emphasis-color-rgb), 0.85);
  background-color: var(--bs-tertiary-bg);
}

.btn-toggle::before {
  position: absolute;
  right: 0;
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform 0.35s ease;
  transform-origin: 0.5em 50%;
}

[data-bs-theme="dark"] .btn-toggle::before {
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%28255,255,255,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(var(--bs-emphasis-color-rgb), 0.85);
}
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  padding: 0.1875rem 0.5rem;
  margin-top: 0.125rem;
  margin-left: 1.25rem;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: var(--bs-tertiary-bg);
}

.scrollarea {
  overflow-y: auto;
}
.sidebar-link{
    padding: 0.25rem 0.5rem;
    font-weight: 600;
    color: var(--bs-emphasis-color);
    background-color: transparent;
}
.sidebar-link:hover{
  color: white !important;
  background-color: blue !important;
}
.sidebar-item:hover{
  color: white !important;
  background-color: blue !important;
}

@media (max-width: 991px) {
  .desktop-nav-link.register_nav_link::after {
    transform-origin: left;
  }
}

@media (max-width: 850px) {
  .hero_text_container {
    position: static !important;
    background-color: var(--safo-orange);
  }
}
@media(max-width: 767px){
  .registerBody{
    padding-top: 0px;
  }
  .wrapper {
    min-height: 900px;
    max-height: 950px;
    /* background: 0 0; */
  }
  .image-holder{
    height: 200px;
    
  }
  h3 {
  margin-bottom: 25px;
  }
  .image-holder img{
    height: 200px;
  }
}
@media(max-width: 576px){
  .wizard.clearfix{
    padding-bottom: 5em;
  }
  .form-content{
    margin-bottom: 20em;
  }
  .actions.clearfix{
    bottom: 0;
  }
}
@media (max-width: 500px) {
  .swiper-button-next,
  .swiper-button-prev {
    transform: scale(0.5);
  }
  .swiper-button-prev::after,
  .swiper-button-next::after {
    color: #ffffffde !important;
  }
  span.logo-text {
    font-size: 0.625em;
  }
  button.navbar-toggler {
    transform: scale(0.8);
  }
  .hero_text_container {
    font-size: 0.8em;
  }
  .hero_text_container a {
    font-size: 1em;
  }
  .swiper {
    background-color: lightgray;
  }
  div.dt-button-collection {
    width: 80%;
    left: 50% !important;
    transform: translateX(-50%);
  }
}


/*I am Isaac Asante Darko My Css Code Start from Here*/
.header-image h1{
  text-align: center;
  font-family: Montserrat;
  font-weight: bold;
}

#profilepic{
  display: flex;
  justify-content: center;
}

.header-image img{
  width: 600px;
  height: 500px;
  object-fit: cover;
}

.History{
  padding: 20px;
}

.brief-Details_of_Safo h1{
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.brief-Details_of_Safo p{
  font-family: "Montserrat", sans-serif;
  padding: 10px;
}

.gallery-container{
     display: flex;
     margin: 5px;
}

.img1 img{
  margin: 1px;
  width: 100%;
}

.img1{
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  margin: 2px;
}

.effect{
   display: none;
   color: white;
   position: absolute;
   background-blend-mode: darken;
   bottom: 2px;
}

.img1:hover .effect{
  display: block;
   border-image: fill 0 linear-gradient(#0001, #000);

}

.map{
  margin: 20px;
}


@media screen and (max-width:600px){
  .gallery-container{
    flex-direction: column;
  }

  .header-image img{
    width: 100%;
  }

}

@media screen and (max-width:600px){
  .map {
    width: 100%;
  }
  .geo{
    display: flex;
  }

  @media screen and (min-width: 600px){
    
    
  }

 .footercontainer{
  flex-direction: column;
 }

}

.footer{
  /* background-image: url(assets/images/Safo2.jpg); */
  /* background-color: #000; */
  color: white;
  background-color: rgba(0, 0, 0, 0.945);
  height: 5%;
  position: relative;
}


.footer::before{
  content: '';
  background-image: url(assets/images/Safo2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  filter: blur(5px);
  width: 100%;
  height: 100%;
  position: absolute;
  
}

#footerHead{
  text-align: center;
  padding: 10px;
}

.footer .socialMedia{
  justify-content: center;
}

.footer .socialMedia a{
  color: #f15f23;
}

.footercontainer{
  display: flex;
  justify-content: space-between;
}

.contactform{
  text-align: center;
  padding: 8px;
}

textarea{
  margin-top: 7px;
  outline: none;
  color: white;
  background: transparent;
  padding: 10px;
  width: 100%;
  height: 100px;
  resize: none;
}

.contactform input{
  width: 100%;
  padding: 8px;
  border: none;
  border-bottom: 0.7px solid gray;
  margin: 3px;
  background: transparent;
  color: white;
}

.contactform input:focus{
  outline: none;
}

.socialMedia{
  display: flex;
}

.socialMedia i{
  font-size: 25px;
  padding: 5px;
  margin: 5px;
  transition: all 0.5s ease-in;
}

.socialMedia i:hover{
  color: #dad8e4;
  transform: rotateY(360deg);
}

.xyz{
  margin:0px 5px;
}

input::placeholder{
  color: #ffffff;
}

@media screen and (max-width:600px){
  .contactform input{
    width: 100%;
  }
  textarea{
    width: 100%;
  }
}

@media screen and (min-width:600px){
  .xyz{
      width: 30%;    
  }
}

.developer{
  font-size: medium;
  text-align: center;
  padding: 5px;
  font-weight: 200;
}

#submitMessage{
  margin-top: 7px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  color: white;
  background-color: rgb(97, 155, 241);
  width: 100%;
}






